pkgbase = cubicsdr-git
	pkgdesc = Cross-Platform Software-Defined Radio Application
	pkgver = r1145.cf90a82
	pkgrel = 2
	epoch = 2
	url = https://github.com/cjcliffe/CubicSDR
	install = cubicsdr-git.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = automake
	makedepends = cmake
	makedepends = libicns
	depends = libpulse
	depends = wxgtk
	depends = soapysdr
	depends = liquid-dsp-git
	optdepends = fftw: FFTW support
	optdepends = soapyrtlsdr-git: RTL-SDR dongle support
	optdepends = soapyremote-git: remote SDR support
	optdepends = hamlib: hamlib support
	conflicts = cubicsdr
	source = cubicsdr-git::git+https://github.com/cjcliffe/cubicsdr.git
	sha256sums = SKIP

pkgname = cubicsdr-git

